/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #AA33FF;
  --ifm-color-primary-light: #EACCFF;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #9559ff;
  --ifm-color-primary-dark: #9559ff;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #AA33FF;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.logo {
  height: 22px !important;
  transform: translateY(28%);
}

img[alt=gettoken],
img[alt=settoken],
img[alt=ontoken],
img[alt=details] {
  width: 500px;
}

img[alt=components],
img[alt=subsystem] {
  width: 350px;
}

table {
  width: 100%;
  display: table;
}